name: Benchmarks

on: push

jobs:
  test:
    name: Send metric over UDP
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up Ruby
      uses: ruby/setup-ruby@e34163cd15f4bb403dcd72d98e295997e6a55798 # v1.238.0
      with:
        bundler-cache: true

    - name: Run benchmark on branch
      run: benchmark/send-metrics-to-local-udp-receiver

    - name: Run throughput benchmark on branch
      run: benchmark/local-udp-throughput

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        ref: 'main'

    - name: Install dependencies if needed
      run: bundle check || bundle install --jobs 4 --retry 3

    - name: Run benchmark on main
      run: benchmark/send-metrics-to-local-udp-receiver

    - name: Run throughput benchmark on main
      run: benchmark/local-udp-throughput
