name: Lint

on: push

jobs:
  test:
    name: Rubocop
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up Ruby
      uses: ruby/setup-ruby@e34163cd15f4bb403dcd72d98e295997e6a55798 # v1.238.0
      with:
        bundler-cache: true

    - name: Run Rubocop
      run: bin/rubocop
