name: Lint

on: push

jobs:
  test:
    name: Rubocop
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6
        bundler-cache: true

    - name: Run Rubocop
      run: bin/rubocop
