name: CI

on: push

jobs:
  test:
    name: Ruby ${{ matrix.ruby }} on ubuntu-18.04
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.6', '2.7', '3.0', '3.1']

        # Windows on macOS builds started failing, so they are disabled for noew
        # platform: [windows-2019, macOS-10.14, ubuntu-18.04]
        # exclude:
        # ...

    steps:
    - uses: actions/checkout@v1

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: Install dependencies
      run: gem install bundler && bundle install --jobs 4 --retry 3

    - name: Run test suite
      run: rake test
