name: CI

on: push

jobs:
  test:
    name: Ruby ${{ matrix.ruby }} on ubuntu-latest
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.0', '3.1', '3.2', '3.3', 'ruby-head', 'jruby-9.3.7.0', 'truffleruby-22.2.0']
        # Windows on macOS builds started failing, so they are disabled for now
        # platform: [windows-2019, macOS-10.14, ubuntu-18.04]
        # exclude:
        # ...

    steps:
    - uses: actions/checkout@v3

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Run test suite
      run: bundle exec rake test
